POSTGRES_USER=homelab
POSTGRES_PASSWORD=changeme
POSTGRES_DB=homelab_portal
SECRET_KEY=changeme
PROXMOX_HOST=192.168.100.2
PROXMOX_NODE=homelab
PROXMOX_TOKEN_ID=portal-reader@pve!portal
PROXMOX_TOKEN_SECRET=changeme
